<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Tobi's app", '/static_pages/home', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/static_pages/home' %></li>
            <li><%= link_to "Help",   '/static_pages/help' %></li>
            <li><%= link_to "About", '/static_pages/about' %></li>
            <li><%= link_to "Users", '/users/index' %></li>
          </ul>
        </nav>
      </div>
    </header>